// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.banner {
    padding: 2rem 0;
    background-color: $gray-200;
    margin-bottom: 2rem;
}